.page-header {
    border-bottom: 1px solid#ececec;
    background-color: var(--primary-background-color);
  }
  .accent {
    color: var(--accent-color);
  }
  .header-nav {
    display: flex;
    align-items: center;
    background-color: var(--primary-background-color);
    margin: auto;
  }
  .header-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--black-text-color);
    margin-right: 93px;
  }
  .site-nav_list {
    display: flex;
  }
  .accent {
    color: var(--accent-color);
  }
  .site-nav_item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-link {
    position: relative;
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--accent-color);
  }
  .contact-list {
    display: flex;
    margin-left: auto;
  }
  .contact-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  }
  .contact-item:not(:last-child) {
    margin-right: 50px;
  }
  .contact-link:hover,
  .contact-link:focus {
    color: var(--accent-color);
  }
  .contact-link:hover .contact-icon,
  .contact-link:focus .contact-icon {
    fill: var(--accent-color);
  }
  .active {
    color: var(--accent-color);
  }
  .active::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 4px;
  }
  .contact-icon {
    margin-right: 10px;
    fill: var(--text-color);
  }