.hero {
    background-color: var(--hero-footer-background-color);
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(82, 86, 128, 0.4)
      ),
      url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-title {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
  }
  .hero-button {
    text-align: center;
    padding: 10px 32px;
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--white-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
  &:focus {
    background-color: #188ce8;
  }
  }
  